<div class="header">
  <h3 class="text-muted">chatty</h3>
</div>

<h4>Latest Chats:</h4>
<div class="jumbotron">

	<form ng-submit="addMessage(newMessage, username)">
    <input ng-model="username" type="text" placeholder="Enter username">
		<input ng-model="newMessage" type="text" placeholder="Hello!">
    <input type="submit" vaue="Submit">
	</form>

  <div class="error-message" ng-show="errorMessage"> {{ errorMessage }} </div>
	<div ng-repeat="message in messages track by $index"><strong>{{ message.username }}:</strong> "{{ message.message }}" ({{ message.time | date: 'h:mma' }})</div>

</div>
